:local(.bluepicker_date_dropdown) {
  position: absolute;
  z-index: 1000;
  float: left;
  width: 320px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  background-clip: padding-box;
  display: none;
}

:local(.main-table) {
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  & tbody tr td {
    padding: 5px;
    text-align: center;
    height: 20px;
  }

  & thead tr th {
    font-weight: 600;
  }

  & thead tr th {
    padding: 5px;
    text-align: center;
    height: 20px;
  }
}

:local(.fakelink) {
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}

:local(.gray) {
  color: #ddd;
}

:local(.today) {
  background-color: lightblue;
}

:local(.moh) {}  // minute of hour
:local(.hod) {}  // hour of day
:local(.dow) {}  // day of week
:local(.left) {}
:local(.right) {}
